<section id="section-contact">
  <div class="rectangle">
    <div>
      <span>{{ "SAY" | translate }}</span>
    </div>
  </div>
  <div class="contact-formular-container">
    <div class="form-header-box">
      <span class="form-header">{{ "CONTACT-HEADER" | translate }}</span>
      <span class="form-subheader">{{ "CONTACT-DISCUSS" | translate }}</span>
    </div>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="form-group">
        <label for="fullname" *ngIf="fullname?.touched">{{
          "CONTACT-NAME" | translate
        }}</label>
        <input
          id="fullname"
          placeholder="Your name"
          formControlName="fullname"
          class="form-control"
        />
        <div *ngIf="fullname?.invalid && fullname?.touched" class="error">
          {{ "CONTACT-NAME-ERROR" | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="email" *ngIf="email?.touched">{{
          "CONTACT-EMAIL" | translate
        }}</label>
        <input
          id="email"
          placeholder="Your email"
          formControlName="email"
          type="email"
          class="form-control"
        />
        <div *ngIf="email?.invalid && email?.touched" class="error">
          <ng-container *ngIf="email?.errors?.['required']">
            {{ "CONTACT-EMAIL-ERROR" | translate }}
          </ng-container>
          <ng-container *ngIf="email?.errors?.['email']">{{
            "CONTACT-EMAIL-ERROR-VALID" | translate
          }}</ng-container>
        </div>
      </div>

      <div class="form-group">
        <label for="message" *ngIf="message?.touched">{{
          "CONTACT-MESSAGE" | translate
        }}</label>
        <textarea
          id="message"
          placeholder="Your message"
          formControlName="message"
          class="form-control"
        ></textarea>
        <div *ngIf="message?.invalid && message?.touched" class="error">
          {{ "CONTACT-MESSAGE-ERROR" | translate }}
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input
            id="acceptPrivacyPolicy"
            type="checkbox"
            formControlName="acceptPrivacyPolicy"
            class="form-check-input"
          />
          <label for="acceptPrivacyPolicy" class="form-check-label">
            {{ "CONTACT-ACCEPTANCE" | translate }}
            <a href>{{ "CONTACT-PRIVACY" | translate }}</a>
            {{ "CONTACT-ACCEPTANCE-2" | translate }}</label
          >
        </div>
        <div
          *ngIf="acceptPrivacyPolicy?.invalid && acceptPrivacyPolicy?.touched"
          class="error"
        >
          <span id="error-form-check-label">
            {{ "CONTACT-ACCEPTANCE-ERROR" | translate }}
          </span>
        </div>
      </div>
      <button type="submit" class="btn" [disabled]="contactForm.invalid">
        {{ "CONTACT-SEND" | translate }}
      </button>
    </form>
  </div>
</section>
