.rectangle {
  height: 300px;
  width: 100%;
  background-image: url("../../../assets/img/Rectangle 5.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-formular-container {
  height: 100%;
  background-color: black;
  color: white;

}
