<section class="nav-menu">
    <div class="menu-link-container">
      <div>
        <a href="">About me</a>
        <div class="link-rectangle"></div>
      </div>
      <div>
        <a href="">My Skills</a>
        <div class="link-rectangle"></div>
      </div>
      <div>
        <a href="">Portfolio</a>
        <div class="link-rectangle"></div>
      </div>
    </div>
    <div class="nav-menu-contacts-container">
      <div class="span-box">
        <span>
          Say Hi!
        </span>
        <a href="">{{ 'NiklasEngelhardt@gmail.com' }}</a>
      </div>
      <div class="link-box">
        <a class="move-button" href=""><img src="../../../assets/img/Github button s3.svg" alt="Github Link"></a>
        <a class="move-button" href=""><img src="../../../assets/img/Email button s3.svg" alt="Email"></a>
        <a class="move-button" href=""><img src="../../../assets/img/Linkedin button s3.svg" alt="Linkedin Link"></a>
      </div>
    </div>
  </section>
