<div class="nav-menu">
    <div class="menu-link-container">
      <div >
        <a pageScroll href="#section-about-me" (click)="updateMenu(false)">{{ 'MENU-ABOUT' | translate }}</a>
        <div class="link-rectangle"></div>
      </div>
      <div>
        <a pageScroll href="#section-my-skills" (click)="updateMenu(false)">{{ 'MENU-SKILLS' | translate }}</a>
        <div class="link-rectangle"></div>
      </div>
      <div>
        <a pageScroll href="#section-portfolio" (click)="updateMenu(false)">{{ 'MENU-PORTFOLIO' | translate }}</a>
        <div class="link-rectangle"></div>
      </div>
    </div>
    <div class="nav-menu-contacts-container">
      <div class="span-box">
        <span>
          {{ 'MENU-HI' | translate }}
        </span>
        <a pageScroll href="#section-contact" (click)="updateMenu(false)">{{ 'NiklasEngelhardt@gmail.com' }}</a>
      </div>
      <div class="link-box">
        <a class="move-button" href="https://github.com/nic-engelh"><img src="../../../../assets/img/Github button s3.svg" alt="Github Link"></a>
        <a class="move-button" href="mailto:NiklasEngelhardt@gmail.com"><img src="../../../../assets/img/Email button s3.svg" alt="Email"></a>
        <a class="move-button" href=""><img src="../../../../assets/img/Linkedin button s3.svg" alt="Linkedin Link"></a>
      </div>
    </div>
</div>

