<div class="nav-menu">
    <div class="menu-link-container">
      <div >
        <a pageScroll [pageScrollDuration]="100" href="#section-about-me" (click)="updateMenu(false, '#section-about-me' )">{{ 'MENU-ABOUT' | translate }}</a>
        <div class="link-rectangle"></div>
      </div>
      <div>
        <a pageScroll [pageScrollDuration]="100" href="#section-my-skills" (click)="updateMenu(false, '#section-my-skills')">{{ 'MENU-SKILLS' | translate }}</a>
        <div class="link-rectangle"></div>
      </div>
      <div>
        <a pageScroll [pageScrollDuration]="100" href="#section-portfolio" (click)="updateMenu(false, '#section-portfolio')">{{ 'MENU-PORTFOLIO' | translate }}</a>
        <div class="link-rectangle"></div>
      </div>
    </div>
    <div class="nav-menu-contacts-container">
      <div class="span-box">
        <span>
          {{ 'MENU-HI' | translate }}
        </span>
        <a pageScroll [pageScrollDuration]="100" href="#section-contact" (click)="updateMenu(false, '#section-contact')">{{ 'Anfragen@NiklasEngelhardt.de' }}</a>
      </div>
      <div class="link-box">
        <a class="move-button" target="_blank" rel="noopener noreferrer" href="https://github.com/nic-engelh"><img src="../../../../assets/img/Github button s3.svg" alt="Github Link"></a>
        <a class="move-button" href="mailto:anfragen@niklasengelhardt.de"><img src="../../../../assets/img/Email button s3.svg" alt="Email"></a>
        <a class="move-button" target="_blank" rel="noopener noreferrer" href=""><img src="../../../../assets/img/Linkedin button s3.svg" alt="Linkedin Link"></a>
      </div>
    </div>
    <div class="filler-box">
    </div>
</div>

