.arrow-box {
  height: 300px;
  width: fit-content;
}

#about-me-main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Syne";
  font-weight: 800;
  font-size: 78px;
  margin-bottom: 64px;
}

h1:hover {
  color: #ff9900;
}

.portrait {
  height: 553px;
  width: auto;
}

.middle-section {
  display: flex;
  justify-content: space-evenly;
}

.text-box {
  width: 50%;
  font-family: "overpass";
  font-size: 24px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.bumber {
  height: 80px;
}

span {
  margin-bottom: 32px;
}

.link-button {
  width: 164px;
  height: 68px;
  border: 4px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: width 0.3s ease-in-out;
  align-items: center;
  align-content: center;
  > p {
    margin: unset;
  }
}

.link-button:hover {
  width: 207px;
  font-weight: bold;
  transition: width 0.3s ease-in-out;
}

.button-box {
  width: 100%;
  display: flex;
  justify-content: center;

}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
}

.hover-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid black;
  pointer-events: none;
  transform: translateX(0px) translateY(0px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.image-container:hover .hover-border {
  opacity: 1;
  transform: translateX(20px) translateY(20px);
}


