<section id="section-about-me">
  <div class="middle-section">
    <div class="text-box">
      <h1>{{ 'ABOUT-TITLE' | translate }}</h1>
      <span>
        {{ 'ABOUT-DESCRIPTION-TOP' | translate }}
        <br>
        <br>
        {{ 'ABOUT-DESCRIPTION-MID' | translate }}
        <br>
        <br>
        {{ 'ABOUT-DESCRIPTION-BOTTOM' | translate }}
      </span>
      <span>
        {{ 'ABOUT-CONTACT' | translate }}
      </span>
      <div class="button-box">
        <div pageScroll href="#section-contact"class="link-button">
          <p>{{ 'ABOUT-BUTTON' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="portrait-box">
      <div class="bumber"></div>
      <div class="image-container">
        <img
          class="portrait"
          src="assets/img/Niklas-lowQual.jpg"
          alt="Picture of Developer"
        />
        <div class="hover-border"></div>
      </div>
    </div>
  </div>

</section>
