<header id="section-landing-page">
  <section id="top">
    <h1>Frontend</h1>
    <h1>Developer</h1>
    <div>
      <div class="line"></div>
      <span class="title-subname" >Niklas Engelhardt</span>
    </div>
  </section>
  <section id="bottom">
      <div class="email-box">
        <p>{{ 'Anfragen@NiklasEngelhardt.de' }}</p>
      </div>
      <div class="arrow-box">
        <div class="arrow-scroll-down">
          <img [src]="arrowImages[currentImageIndex]" alt="Scroll Down Arrow">
        </div>
        <span> {{ 'SCROLL-TOP' | translate }} <br> {{ 'SCROLL-DOWN' | translate }}</span>
      </div>
  </section>
</header>

