@import "../../../styles/_breakpoints.scss";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100svh;
}

h1 {
  font-family: "Syne";
  font-size: 128px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 80px;

  @include lg {
    font-size: 88px;
    margin-bottom: 60px;
  }

  @include md {
    font-size: 88px;
    margin-bottom: 60px;
  }

  @include sm {
    font-size: 64px;
    margin-bottom: 32px;
  }

  @include xs {
    font-size: 48px;
    margin-bottom: 32px;
  }
}

.line {
  border-bottom: 4px solid black;
  width: 650px;

  @include lg {
    width: 460px;
  }

  @include md {
    width: 460px;
  }

  @include sm {
    width: 230px;
  }
}

.title-subname {
  font-family: "overpass";
  color: #ff9900;
  font-weight: 600;
  font-size: 32px;
  margin-left: 8px;
}

#top {
  height: 300px;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

p {
  text-decoration: unset;
  color: black;
  transform: rotate(-0.25turn) !important;
  cursor: pointer;
}

#bottom {
  font-family: "Syne";
  font-size: 20px;
  font-weight: 100;

  > div {
    display: flex;
    justify-content: space-between;
    height: fit-content;
  }
}

.arrow-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  > span {
    text-align: center;
  }
}

section {
  width: 100%;
}

.arrow-scroll-down {
  width: 116px;
  height: 180px;
  padding: 10px;
  gap: 10px;
}

.email-box {
  display: flex;
  align-items: stretch;
}

.my-component {
  font-size: 16px;

  @include xs {
    font-size: 14px;
  }

  @include sm {
    font-size: 15px;
  }

  @include md {
    font-size: 16px;
  }

  @include lg {
    font-size: 18px;
  }

  @include xl {
    font-size: 20px;
  }
}
