header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100svh;
}

h1 {
  font-family: "Syne";
  font-size: 128px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 80px;
}

.line {
  border-bottom: 4px solid black;
  width: 650px;
}
.title-subname {
  font-family: 'overpass';
  color: #FF9900;
  font-weight: 600;
  font-size: 32px;
  margin-left: 8px;
}

#top {
  height: 300px;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

p {
  text-decoration: unset;
  color: black;
  transform: rotate(-0.25turn) !important;
  cursor: pointer;
}

#bottom {
  font-family: 'Syne';
  font-size: 20px;
  font-weight: 100;

  > div {
    display: flex;
    justify-content: space-between;
    height: fit-content;
  }
}

.arrow-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
}

.arrow-scroll-down {
  width: 116px;
  height: 180px;
  padding: 10px;
  Gap: 10px;
}

.email-box {
  display: flex;
  align-items: stretch;
}







