<nav>
  <section class="nav-bar" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <Span>[NE]</Span>
    <div
      (click)="menuOpen = !menuOpen"
      (click)="toggleMenuButton()"
    >
      <img [src]="currentPicture" alt="Burger Menu" />
    </div>
  </section>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="menuOpen"
    cdkConnectedOverlayWidth="100svw"
  >
    <div @slideAnimation>
      <app-menu></app-menu>
    </div>
  </ng-template>
</nav>
