@import "../../../styles/_breakpoints.scss";

nav {
    font-family: 'Syne';
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 1000;
}

.nav-bar {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 30px 100px;
    hyphens: auto;
    @include sm {
      padding: 30px 50px 30px 50px;
    }
    @include xs {
      padding: 0px 25px 0px 25px;
    }

    > div {
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

span {
  font-size: 42px;
  font-weight: 800;
  @include sm {
    font-size: 24px;
  }
}

.language-switcher {
    display:flex;
    justify-content: center;
    width: 300px;
    font-size: 24px;
    font-weight: 500;
    color: black;
    > span {
        font-size: 24px;
        @include sm {
          font-size: 16px;
        }
    }
    > span:hover {
      color: #ff9900;
    }
    @include sm {
      font-size: 16px;
    }
}




