nav {
    font-family: 'Syne';
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 1000;
}

.nav-bar {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 30px 100px;

    > div {
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

span {
  font-size: 42px;
  font-weight: 800;
}




