nav {
    font-family: 'Syne';
}

.nav-bar {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 100px, 30px, 100px;
    > div {
        height: 32px;
        width: 32px;
    }
}

.nav-menu {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.nav-menu-contacts-container {
    height: 348px;
    width: 100%;
    background-image: url(../../../assets/img/Rectangle\ 5.svg);
    background-repeat: no-repeat;
}

.menu-link-container {

    > div {
        width: 580px;
        height: 167px;

        > a {
            text-decoration: none;
            color: black ;
            font-weight: 700;
            font-size: 96px;
        }
    }
    
}