body {
  max-width: 1440px;
}

app-my-skills {
  display: flex;
  justify-content: center;
}

app-portfolio {
  display: flex;
  justify-content: center;
}

app-contact {
  display: flex;
  justify-content: center;
}

