@import "../../styles/_breakpoints.scss";

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    font-family: 'Overpass';
    padding-left: 32px;
    padding-right:32px;
    max-width: 1440px;
    width: 75%;
  }
}
