@import '../../../styles/_breakpoints.scss';

.skill-list {
  width: 60%;
  height: fit-content;
  border: 4px solid black;
  position: relative;
  padding: 128px;
  @include sm {
    padding: 64px;
  }
  @include xs {
    padding: 8px;
    padding-top: 48px;
    padding-bottom: 48px;
    width: 85%;
  }

  > span {
    position: absolute;
    left: 50%;
    top: -16px;
    font-family: 'Syne';
    font-weight: 800;
    font-size: 78px;
    background-color: white;
    transform: translateX(-50%);
    min-width: 512px;
    @include sm {
      font-size: 64px;
      text-align: center;
      min-width: max-content;
    }
    @include xs {
      font-size: 40px;
    }
  }
  > span:hover {
    color: #FF9900;
  }
  > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 96px;
    @include xs {
      gap: 42px;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      > span {
        font-family: 'overpass';
        font-weight: 700;
        font-size: 16px;
        margin-top: 8px;
      }
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.arrow-box {
  height: 400px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.skill-box {
  overflow:hidden;
}

.skill-box:hover {
  color:#FF9900;
  >img{
    animation: ease-out-animation 0.7s ease-in-out forwards;
    animation-iteration-count: 1;
  };
}

@keyframes ease-out-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%) scale(0.75);
    clip-path: inset(0 50% 0 0);
  }

  51% {
    clip-path: inset(0 100% 0 0);
  }

  74% {
    transform: translateX(-100%) scale(0.75);
    clip-path: inset(0 0 0 100%);
  }

  75% {
    transform: translateX(-50%) scale(0.75);
    clip-path: inset(0 0 0 50%);
  }

  100% {
    transform: translateX(0);
  }

}
