<footer>

  <div>
    <span class="logo">
      [NE]
    </span>
    <span class="copyright">
      &#169; Niklas Engelhardt 2024
    </span>
  </div>
  <div>
    <div class="link-box">
      <a class="move-button" href=""><img src="../../../../assets/img/Github button s3.svg" alt="Github Link"></a>
      <a class="move-button" href=""><img src="../../../../assets/img/Email button s3.svg" alt="Email"></a>
      <a class="move-button" href=""><img src="../../../../assets/img/Linkedin button s3.svg" alt="Linkedin Link"></a>
    </div>
  <a class="legal-notice" href="">Legal notice</a>
  </div>


</footer>
