<section id="portfolio">
  <div class="arrow-box">
    <img src="" alt="">
  </div>
  <div class="section-header-box">
    <h1>Portfolio</h1>
    <span class="text-box">Explore a selection of my work here - Interact with projects to see my skills in
      action.</span>
  </div>

  <div class="portfolio-box">

    @for (project of projects; track project; let index = $index) {

    <div id="project-{{ index }}" class="project-box" (mouseenter)="onHover(index)" (mouseleave)="onLeave(index)">
      <div class="img-container">
        <img class="project-img" src="{{ project.imagePath }}" alt="Project {{ project.name }} Picture">
      <div class="hover-border"></div>
      </div>
      <app-project [projectName]="project.name" [@slideAnimation]="projects[index].isHovered ? 'visible' : 'hidden'"></app-project>
      <span>{{ index }} / {{ projects.length }} </span>
    </div>

    }
  </div>

  <app-arrow [arrowDirection]="'left'"></app-arrow>


</section>
