<section id="section-portfolio">
  <div class="arrow-box">
    <app-arrow class="arrow-top"></app-arrow>
  </div>
  <div class="section-header-box">
    <h1>Portfolio</h1>
    <span class="text-box">
      {{ "PORTFOLIO-DESCRIPTION" | translate }}
    </span>
  </div>

  <div class="portfolio-box">
    @for (project of projects; track project; let index = $index) {

    <div
      id="project-{{ index }}"
      class="project-box"
      (mouseenter)="onHover(index)"
      (mouseleave)="onLeave(index)"
    >
      <div class="img-container">
        <img
          class="project-img"
          src="{{ project.imagePath }}"
          alt="Project {{ project.name }} Picture"
        />
        <div class="hover-border">
          <img
            class="project-img-border-arrow"
            src="/assets/img/arrow-projects.svg"
            alt="Moving Arrow"
          />
        </div>
      </div>
      <div class="project-description-container">
        <div class="project-number-box">
          <span class="project-number"
            >0{{ index + 1 }}/0{{ projects.length }}
          </span>
        </div>
        <app-project
          [projectName]="project.name"
          [@slideAnimation]="getAnimationState(index)"
        ></app-project>
      </div>
    </div>

    }
  </div>

  <app-arrow [arrowDirection]="'left'"></app-arrow>
</section>
