<section id="portfolio">
  <div class="arrow-box">
    <img src="" alt="">
  </div>
  <h1>Portfolio</h1>
  <h5>Explore a selection of my work here - Interact with projects to see my skills in action.</h5>

  <div class="portfolio-box">

    @for (project of projects; track project; let index = $index) {

      <div class="project-box" (mouseenter)="onHover()" (mouseleave)="onLeave()" >
        <span>{{ index }} / {{ projects.length }} </span>
        <img src="{{ project.imagePath }}" alt="Project {{ project.name }} Picture">
        <app-project  [projectName]="project.name" [@slideAnimation]="isHovered ? 'visible' : 'hidden'"></app-project>
      </div>

    }
  </div>
  <div
    class="arrow-box"
    (mouseover)="onHover(true)"
    (mouseleave)="onHover(false)"
  >
    <img [src]="hoveredImage" alt="Moving Arrow" />
  </div>

</section>
