<section>
  @for (project of projects; track project; let index = $index) {
    @if (projectName === project.name) {
      <div class="project-details" [class.reverse]="index % 2 !== 0">
        <span class="project-title">{{ project.name }}</span>
        <span class="project-stack"> {{ project.stack }}</span>
        <span class="project-info"> {{ project.info | translate }} </span>
        <div [class.row-reverse]="index % 2 !== 0">
          <a href="{{ project.href }}" target="_blank" rel="noopener noreferrer">
            <div  class="link-button">{{ 'PORTFOLIO-TRY' | translate }}</div>
          </a>
          <a href="{{ project.github }}" target="_blank" rel="noopener noreferrer">
            <div class="link-button">Github</div>
          </a>
        </div>
      </div>
    }
  }
</section>
