@import "../../../../styles/_breakpoints.scss";

section {
  > div {
    display: flex;
    flex-direction: column;
    max-width: 504px;
    max-height: 479px;
    gap: 35px;
    > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 32px;
    }
  }
}

a {
  text-decoration: unset;
  color: unset;
}

.reverse {
  @include sm {
    align-items: flex-end !important;
  }
}

.row-reverse {
  @include sm {
    flex-direction: row-reverse !important;
  }
}

.project-title {
  font-family: "Syne";
  font-size: 45px;
  font-weight: 800;
  @include xs {
    font-size: 32px;
  }

}

.project-stack {
  font-family: "overpass";
  font-weight: 400;
  font-size: 23px;
  color: #ff9900;
}

.project-info {
  font-family: "overpass";
  font-weight: 400;
  font-size: 16px;
}

.link-button {
  width: 152px;
  height: 54px;
  border: 4px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: width 0.3s ease-in-out;
  align-items: center;
  align-content: center;
  > p {
    margin: unset;
  }
}

.link-button:hover {
  width: 184px;
  font-weight: bold;
  transition: width 0.3s ease-in-out;
}

.link-button:active {
  width: 184px;
  font-weight: bold;
  color: white;
  background-color: black;
  transition: all 0.3s;
}

@media screen and (max-width: 700px) {
  section {
    > div {
      max-width: 390px;
      max-height: 279px;
      gap: 40px;
    }
  }
}
@media screen and (max-width: 400px) {
  section {
    > div {
      max-width: 300px;
      max-height: 279px;
      gap: 40px;
    }
  }
}
